@font-face {
    font-family: 'NovaMono';
    src: url('NovaMono.woff2') format('woff2'),
        url('NovaMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

